<!--Lesson url https://www.youtube.com/watch?v=8WLVY_13kNE&list=PLDyJYA6aTY1nZ9fSGcsK4wqeu-xaJksQQ&index=5-->
{% extends 'testApp/layout.html' %}

{% block title %} Main page title {% endblock %}

{% block content %}
<div class="features">
    <h1>About</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, aliquam cumque debitis doloremque, ducimus error iure maiores, modi neque quidem quis repellat repellendus voluptate. Ad debitis distinctio libero necessitatibus porro.</p>
    <button class="btn btn-danger">Danger Danger. High voltage!</button>
</div>


{% endblock %}

